<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
       <!-- <h1>My Products</h1>
       <p>List of all the products...</p> -->
       <% if(prods.length>0) { %>
       <div class="grid">
           <% for(let product of prods) { %>
           <article>
               <header>
                   <h1><%= product.title %></h1>
               </header>
           </article>
           <div>
               <img src="<%= product.imageURL %>" alt="<%= product.title %>">
           </div>
           <div>
               <h2>Rs <%= product.price %></h2>
               <p><%= product.description %></p>
           </div>
           <div>
               <!-- <a href="/admin/edit-product">Edit</a> -->
               <a href="/edit-product/<%= product.id %>?edit=true">Edit</a>
               <form action="/delete-product" method="POST">
                     <input type="hidden" value="<%=product.id%>" name="ProductId">
                    <button class="btn" type="submit">DELETE</button>
               </form>
           </div>
           <% } %>
       </div>
       <% } else { %>
        <h1>No products found</h1>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>